In [7]:
import pandas as pd
import matplotlib.pyplot as ply

In [8]:
ds1 = pd.read_csv("Summert_forbruk_sone.csv", delimiter=",")
ds1 = ds1.rename(columns={'VOLUM_KWH': 'FORBRUK_KWH'})

ds1.head()

   Unnamed: 0        DATE PRISOMRÅDE  FORBRUK_KWH  ANTALL_MÅLEPUNKT
0           0  2020-12-31        NO1  4431073.516         1280088.0
1           1  2020-12-31        NO2  4364138.152          792478.0
2           2  2020-12-31        NO3  3112774.139          518723.0
3           3  2020-12-31        NO4  1997586.226          330240.0
4           4  2020-12-31        NO5  2040973.624          320541.0

In [9]:
ds2 = pd.read_csv("Summert_produksjon_sone.csv", delimiter=",")
ds2 = ds2.rename(columns={'VOLUM_KWH': 'PRODUKSJON_KWH'})

ds2.head()

   Unnamed: 0        DATE PRISOMRÅDE  PRODUKSJON_KWH
0           0  2020-09-08        NO1     2168865.186
1           1  2020-09-08        NO2     9753790.419
2           2  2020-09-08        NO3     5612004.600
3           3  2020-09-08        NO4     4917534.632
4           4  2020-09-08        NO5     7789808.636

In [10]:
ds1 = ds1.drop(columns=['Unnamed: 0'])
ds2 = ds2.drop(columns=['Unnamed: 0'])

merged_ds = pd.merge(ds1, ds2, on=['DATE', 'PRISOMRÅDE'], how='inner')
merged_ds['NETTO_PRODUKSJON_KWH'] = merged_ds['PRODUKSJON_KWH'] - merged_ds['FORBRUK_KWH']


merged_ds.head()

,DATE,PRISOMRÅDE,FORBRUK_KWH,ANTALL_MÅLEPUNKT,PRODUKSJON_KWH,NETTO_PRODUKSJON_KWH
0,2020-12-31,NO1,4431073.516,1280088.0,6.590307e+07,6.147199e+07
1,2020-12-31,NO2,4364138.152,792478.0,1.843103e+08,1.799462e+08
2,2020-12-31,NO3,3112774.139,518723.0,7.663197e+07,7.351919e+07
3,2020-12-31,NO4,1997586.226,330240.0,9.987718e+07,9.787959e+07
4,2020-12-31,NO5,2040973.624,320541.0,1.120536e+08,1.100126e+08

In [11]:
merged_ds.to_csv("Summert_data.csv")